* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 400px 1fr 300px;
  background-color: #FAFBFC;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: span 3;
  align-items: center;
  padding: 30px;
  background-color: #A269F6;
}

.logo {
  width: 200px;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  padding: 12px 10px;
  margin-left: 30px;
  background-color: #9868E0;
  border-radius: 6px;

.sidenav {
  padding: 30px;
  background-color: #FAFBFC;
}

.sidenav ul {
  display: grid;
  justify-content: center;
  gap: 30px;
}

.sidenav ul li {
  background-color: #fff;
  box-shadow: 4px 4px 15px #ddd;
  border-radius: 6px;
}

.sidenav img {
  width: 100px;
}

.sidenav a {
  display: block;
  color: #fff;
  padding: 20px;
  height: 100px;
  border-radius: 6px;
}

.sidenav a:hover {
  background-color: #B07DFB;
}

}
