* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 400px 1fr 300px;
  background-color: #FAFBFC;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column: span 3;
  padding: 30px;
  align-items: end;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.logo {
  width: 200px;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  padding: 12px 10px;
  margin-left: 30px;
  background-color: #9868E0;
  border-radius: 6px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.1);
}

header nav ul li a {
  display: block;
  color: #fff;
  padding: 10px;
}

header nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.sidenav {
  padding: 30px;
  background-color: #FAFBFC;
}

.sidenav ul {
  display: grid;
  justify-content: center;
  gap: 30px;
}

.sidenav ul li {
  background-color: #fff;
  box-shadow: 4px 4px 15px #ddd;
  border-radius: 6px;
}

.sidenav img {
  width: 100px;
}

.sidenav a {
  display: block;
  color: #fff;
  padding: 20px;
  height: 100px;
  border-radius: 6px;
}

.sidenav a:hover {
  background-color: #B07DFB;
}

main {
  display: grid;
  max-width: 900px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  gap: 30px;
}

.titulo {
  color: #B07DFB;
}

.titulo h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.titulo span {
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
}

.descricao {
  grid-column: span 2;
}

.desc2 {
  font-size: 14px;
  line-height: 22px;
  width: 230px;
  color: #B07DFB;
}

.caracteristicas {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  gap: 30px;
}

.caracteristicas div {
  display: grid;
  box-shadow: 4px 4px 15px #ddd;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

.numero {
  font-size: 48px;
  line-height: 1.45;
  color: #B07DFB;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.rotulo {
  font-size: 16px;
  line-height: 32px;
  color: #B07DFB;
}

.citacao {
  grid-column: span 2;
  padding: 30px;
  font-size: 24px;
  line-height: 38px;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 2px 2px 10px #ccc;
}

.citacao p {
  max-width: 500px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  line-height: 38px;
  text-align: center;
  color: #fff;
}

.atributos {
  color: #fff;
  padding: 30px;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 2px 2px 15px #ccc;
}

.atributos li {
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.atributos li+li {
  border-top: 2px solid #B07DFB;
}

.informacoes {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.wolf1 {
  grid-row: span 2;
}

.wolf2 {
  align-self: end;
}

.wolf3 {
  grid-column: span 2;
}
